<div class="navigation_bar">
    <div class="nav-link-container">
        <a class="nav-link" routerLink="/kulki">
            Kulki
        </a>
    </div>
    <div class="nav-link-container">
        <a class="nav-link" routerLink="/zasady_gry">
            Zasady gry
        </a>
    </div>
    <div class="nav-link-container">
        <a class="nav-link" routerLink="/waluty">
            Waluty
        </a>
    </div>
    <div class="nav-link-container">
        <a class="nav-link" routerLink="/readme">
            Readme
        </a>
    </div>
</div>
