.navigation_bar {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary_color);
    display: flex;
    flex-wrap: wrap;
}

.nav-link-container {
    border: 1px solid var(--border_color);
    width: 25%;
    height: 40px;
    text-align: center;
    flex: 1;
    min-width: 90px;
}

.nav-link {
    text-decoration: none;
    color: black;
}
