.footer {
    width: 50%;
    min-width: 360px;
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    background-color: var(--primary_color);
    border-top: 1px solid var(--border_color);
    text-align: center;
    color: black;
}