.currencies_wrapper {
    width: 50%;
    min-width: 360px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary_color);
    .date {
        font-size: 30px;
    }
    .exchange_rates {
        width: 100%;
        border: 1px var(--border_color) solid;
        border-radius: 10px;
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        .exchange_card {
            flex: 0 0 16.6667%;
            font-size: 20px;
            max-width: 16.6667%;
            padding: 2px;
            border: 1px var(--border_color) solid;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            min-width: 110px;
            border-radius: 5px;
        }
    }
}

.error {
    position: absolute;
    width: 50%;
    height: 320px;
    opacity: 0.85;
    background-color: black;
    background-image: none;
    top: 50px;
    text-align: center;
    color: white;
    min-width: 360px;
}