<a href="/kulki">Wróć do gry</a>
<h1>Nic tu nie ma poza kurczakami... mnóstwem kurczaków</h1>
<img class="img_class" src="../../assets/ch1.jpg" alt="Chicken 1">
<img class="img_class" src="../../assets/ch2.jpg" alt="Chicken 2">
<img class="img_class" src="../../assets/ch3.jpg" alt="Chicken 3">
<img class="img_class" src="../../assets/ch4.jpg" alt="Chicken 4">
<img class="img_class" src="../../assets/ch5.jpg" alt="Chicken 5">
<img class="img_class" src="../../assets/ch6.jpg" alt="Chicken 6">
<img class="img_class" src="../../assets/ch7.jpg" alt="Chicken 7">
<img class="img_class" src="../../assets/ch8.jpg" alt="Chicken 8">
<img class="img_calss" src="../../assets/hc1.jpg" alt="Chicken 9">
<img class="img_class" src="../../assets/ch9.jpg" alt="Chicken 9">
<img class="img_class" src="../../assets/ch10.jpg" alt="Chicken 10">