<div class="game_rules_wrapper">
    <p>
        Gra polega na układaniu kulek w rzędzie.
        Gracz układa po pięć (lub więcej) kulek o tym samym kolorze w rzędzie (poziomo, pionowo, bądź po skosie).
        Gracz może przemieszczać kulki na dowolne puste pole, do którego może dojść kulka (kulka nie porusza się po skosie).
    </p>
    <p>
        Kulki występują w 7 kolorach: niebieskim, fioletowym, zielonym, żółtym, pomarańczowym, brązowym i jasnoniebieskim.
        Gra kończy się gdy wszystkie pola są zajęte. Trzy kulki po prawej stronie to kulki, które pojawią się na planszy
        po wykonaniu następnego ruchu, który nie utworzy znikającego rzędu kulek. Bardzo opłaca się ustawiać w rzędzie więcej
        niż 5 kulek, ponieważ każda następne kulka mnoży punkty za rząd razy 2. Czyli:<br>
        5 kulek -> 10 punktów<br>
        6 kulek -> 20 punktów<br>
        7 kulek -> 40 punktów<br>
        8 kulek -> 80 punktów<br>
        9 kulek -> 160 punktów<br>
    </p>
</div>
