<div class="readme_wrapper">
    <p class="points">Kilka uwag:</p>
    <ul>
        <li>
            Ekran z walutami jest kompletnie niepowiązany tematycznie z resztą. Jego zadanie
            to pokazanie, że potrafię wyświetlić dane z API oraz przystosować stronę do wyświetlania
            w różnej rozdzielczości, gdyż gra kulki w swoich założeniach jest kopią gry dostępnej
            pod adresem <a href="https://www.zagrajsam.pl/dzialy_gier.php?gra=5">https://www.zagrajsam.pl/dzialy_gier.php?gra=5</a>,
            która jest nieprzystosowana do małych szerokości ekranu.
        </li>
        <li>
            Strona redame wykorzystuje lazy loading chociaż przy tak małej aplikacji nie jest to potrzebne. Celem tego
            jest jedynie pokazanie, że umiem to zaimplementować.
        </li>
    </ul>
</div>
