<div class="readme_wrapper">
    <p class="points">Kilka uwag:</p>
    <ul>
        <li>
            Gra kulki w swoich założeniach jest kopią gry dostępnej
            pod adresem <a href="https://www.zagrajsam.pl/dzialy_gier.php?gra=5" target="_blank">https://www.zagrajsam.pl/dzialy_gier.php?gra=5</a>,
            która jest nieprzystosowana do małych szerokości ekranu.
        </li>
        <li>
            Strona lazy_loading wykorzystuje lazy loading chociaż przy tak małej aplikacji nie jest to potrzebne. Celem tego
            jest jedynie pokazanie, że umiem to zaimplementować.
        </li>
        <li>
            Komunikacja z api zrobionym w django nie jest może najsensowniejszym zastosowaniem tego frameworku, ale
            chciałem zrobić coś do wykorzystania z tą stroną.
        </li>
    </ul>
</div>
