.gameboard {
    height: 100%;
    width: 500px;
    background-color: var(--primary_color);
    overflow: hidden;
    position: relative;
}

.game_table_container {
    padding: 12.5px;
    height: 100%;
    width: 100%;
    div {
        background-color: var(--field_color);
        border: 1px solid var(--border_color);
        width: 50px;
        height: 50px;
        float: left;
        background-image: url(../../assets/kulki.png);
    }
}

.blue {
    background-position: 3px -48px;
}

.purple {
    background-position: 3px -98px;
}

.green {
    background-position: 3px -148px;
}

.yellow {
    background-position: 3px -198px;
}

.orange {
    background-position: 3px -248px;
}

.brown {
    background-position: 3px -298px;
}

.light_blue {
    background-position: 3px -348px;
}

.choosen {
    animation: blink-animation 2s steps(20) infinite;
    -webkit-animation: blink-animation 2s steps(20) infinite;
}
@keyframes blink-animation {
    0% {opacity: 0.1;}
    15% {opacity: 0.5;}
    50% {opacity: 0.9;}
    85% {opacity: 0.5;}
    100% {opacity: 0.1;}
}
@-webkit-keyframes blink-animation {
    0% {opacity: 0.1;}
    15% {opacity: 0.5;}
    50% {opacity: 0.9;}
    85% {opacity: 0.5;}
    100% {opacity: 0.1;}
}

.game_over {
    position: absolute;
    width: 470px;
    height: 470px;
    opacity: 0.75;
    background-color: black;
    background-image: none;
    top: 12.5px;
    left: 12.5px;
    text-align: center;
    color: white;
}

.game_over_popup {
    position: relative;
    top: 150px;
}

.game_over_button {
    cursor: pointer;
}

.player_name_input {
    display: block;
    margin: auto;
}

.player_name_label {
    display: block;
}

.form_container {
    margin-top: 50px;
}

.save_score_button {
    display: block;
    margin: auto;
}

.error_text {
    display: block;
    margin: auto;
    color: red;
}

.info_text {
    display: block;
    margin: auto;
    color: green;
}
